#search-container {
    display: flex;
    justify-content: center;

}
#img-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

#column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    border: black 1px solid;
}

#column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.63);
}

#search {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search input {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    width: 20%;
    height: 3rem;
    border: 1px solid black;
    color: white;
    background-color: rgba(0, 0, 0, 0.119);
    border-radius: 0.5rem 0 0 0.5rem;
}

#search button {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.464);
    border: 1px black solid;
    color: white;
    border-radius: 0.5rem;
    width: 5rem;
    height: 3rem;
    font-size: 1.1rem;
}

#search * {
    margin: 1rem 0.2rem 1rem 0;
}

#img-size, #display-amount, #sort {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.464);
    border: 1px black solid;
    color: white;
    
    height: 3rem;
    font-size: 1rem;
}